<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='style_new.css') }}">
    <title>addproduct</title>
</head>

<body>
    <div class="cont">
        <div class="demo">
            <div class="login">
                <div class="login__check"></div>
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <form method="POST" action="">
                <div class="login__form">
                    <div class="login__row">
                        <label for ="Product Type/Name">Product Type/Name </label>
                        <input type="text" class="login__input name" placeholder="Product Type/Name"
                            name="Product_name" value="{{product.Product_name}}"/>
                    </div>
                    <div class="login__row">

                        <input type="number" class="login__input pass" placeholder="Price of Product in Euros"
                            name="Product_price" value="{{product.Product_price}}" sonia="{{product.Product_price}}" />
                    </div>
                    <div class="login__row">

                        <input type="text" class="login__input pass" placeholder="Product Deatils" name="Prod_spec" value="{{product.Prod_spec}}"/>
                    </div>
                    <div class="login__row">

                        <input type="text" class="login__input pass" placeholder="Seller Name" name="seller_name" value="{{product.seller_name}}"/>
                    </div>
                    <div class="login__row">

                        <input type="email" class="login__input pass" placeholder="Seller's Email ID" value="{{product.User_email}}"
                            name="User_email" />
                    </div>
                    <div class="login__row">

                        <input type="number" class="login__input pass" placeholder="Seller's Contact Number" value="{{product.contact_num}}"
                            name="contact_num" />
                    </div>

                    <!-- <button type="submit" class="login__submit"> Register </button> -->
                    <input type="submit" class="login__submit" />
                </div>
            </form>
            </div>
        </div>
    </div>
</body>

</html>