<!-- User Registration form -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='style.css') }}">
    <title>Register</title>
</head>

<body>
    <div class="cont">
        <div class="demo">
            <div class="login">
                <div class="login__check"></div>
                <form action="{{ request.path }}" method="POST">
                    <div class="login__form">

                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="error_flash">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <div class="login__row">

                            <input type="text" class="login__input name" placeholder="Username" name="username"
                                required />
                        </div>
                        <div class="login__row">

                            <input type="email" class="login__input pass" placeholder="email" name="email" required />

                        </div>
                        <div class="login__row">

                            <input type="password" class="login__input pass" placeholder="Password" name="password"
                                required />
                        </div>
                        <input type="submit" class="login__submit" value ="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>